version: '3.8'
services:
  db:
    image: postgres:16
    restart: always
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
       - db-data:/var/lib/postgresql/data
volumes:
  db-data:
